body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.balance-container {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  align-items: start;
  width: 40%;
  max-width: 800px;
  height: auto;
  border: 2px solid #005b96;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 91, 150, 0.2);
  padding: 40px;
  text-align: left;
}

.balance-title {
  font-size: 28px;
  color: #005b96;
  margin-bottom: 20px;
}

.balance-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
}

.balance-button {
  background-color: #005b96;
  color: #ffffff;
  padding: 14px 50px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.balance-button:hover {
  background-color: #003f63;
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .balance-container {
    width: 90%;
    padding: 30px;
  }

  .balance-button {
    padding: 12px 40px;
  }
}

@media screen and (max-width: 480px) {
  .balance-container {
    width: 95%;
    padding: 20px;
  }

  .balance-button {
    padding: 10px 30px;
    font-size: 14px;
  }
}
