html, body {
  height: 100%;
  margin: 0;
}

main {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%; /* Mesma largura */
  height: 350px; /* Mesma altura */
  border: 3px solid green;
  border-radius: 30px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 32px;
  padding-bottom: 15px;
  color: #333;
}

.containerButtons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%; /* Garante que os botões ocupem a largura total */
}

.button {
  background-color: #4CAF50;
  padding: 12px 60px;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}

@media screen and (max-width: 768px) {
  .container {
    width: 60%; /* Ajusta para responsividade */
  }

  .button {
    padding: 12px 40px; /* Ajusta o tamanho do botão em telas menores */
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 80%; /* Ajusta para responsividade em telas muito pequenas */
  }

  .button {
    padding: 12px 30px; /* Ajusta o tamanho do botão em telas menores */
  }
}
