body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.balance-login-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Corrige a centralização */
  width: 70%;
  max-width: 600px;
  border: 2px solid #005b96;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 91, 150, 0.2);
  padding: 40px;
  text-align: center;
}

.balance-title {
  font-size: 28px;
  color: #005b96;
  margin-bottom: 20px;
}

.balance-form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.balance-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.balance-input-container {
  position: relative;
}

.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.balance-error-container {
  position: absolute;
  width: 70%;
  display: flex;
  justify-content: left;
  padding-left: 2%;
}

.balance-error {
  color: red;
  font-size: 14px;
  font-weight: bold;
  margin-top: -6px;
}

.balance-input {
  padding: 14px 16px;
  border-radius: 8px;
  border: 2px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding-right: 60px; /* Espaço para o botão de senha */
}

.toggle-password {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #007bff;
  outline: none;
}

.balance-button {
  background-color: #005b96;
  padding: 14px 60px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s;
}

.balance-button:hover {
  background-color: #003f63;
  transform: scale(1.05);
}

.balance-message {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .balance-login-container {
    width: 80%;
  }

  .balance-input {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .balance-login-container {
    width: 95%;
  }

  .balance-input {
    width: 100%;
  }
}
