<div class="container">
  <h2 class="title">Cadastro</h2>
  <div class="containerForm">
    <form (submit)="onSubmit($event)" class="form">
      <div class="inputContainer">
        <input
          class="input"
          placeholder="Insira seu e-mail"
          type="email"
          required
        />
      </div>
      <div class="inputContainer">
        <input
          class="input"
          placeholder="Insira sua senha"
          type="password"
          required
        />
      </div>
    <button type="submit" class="button">Cadastrar</button>
    </form>
  </div>
</div>
