/* CSS */
html, body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.balance-register-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 600px;
  border: 2px solid #005b96;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 91, 150, 0.2);
  padding: 40px;
  text-align: center;
}

.balance-title {
  font-size: 28px;
  color: #005b96;
  margin-bottom: 20px;
}

.containerForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputContainer {
  position: relative;
}

.passwordInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  padding: 14px 16px;
  border-radius: 8px;
  border: 2px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding-right: 50px; /* Espaço para o botão de senha */
}

.togglePassword {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #007bff;
  outline: none;
}

.button {
  background-color: #005b96;
  padding: 14px 60px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s;
}

.button:hover {
  background-color: #003f63;
  transform: scale(1.05);
}

.containerError {
  position: absolute;
  width: 70%;
  display: flex;
  justify-content: left;
  padding-left: 2%;
}

.error {
  color: red;
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
  margin-top: -6px;
}

@media screen and (max-width: 768px) {
  .balance-register-container {
    width: 80%;
  }

  .input {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .balance-register-container {
    width: 70%;
  }

  .input {
    width: 100%;
  }
}
