<div class="container">
  <h2 class="title">Cadastro</h2>
  <div class="containerForm">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
      <div class="inputContainer">
        <input
          class="input"
          formControlName="email"
          placeholder="Insira seu e-mail"
          type="email"
          required
          autocomplete="email"
        />
      </div>
      <div class="inputContainer">
        <div class="passwordInputWrapper">
          <input
            class="input"
            [type]="passwordFieldType"
            formControlName="password"
            placeholder="Insira sua senha"
            required
            autocomplete="new-password"
          />
          <button
            type="button"
            class="togglePassword"
            (click)="togglePasswordVisibility()"
          >
            {{ passwordFieldType === "password" ? "Mostrar" : "Ocultar" }}
          </button>
        </div>
        <div *ngIf="errorMessage" class="containerError">
          <p class="error">{{ errorMessage }}</p>
        </div>
      </div>
      <button type="submit" class="button">Cadastrar</button>
    </form>
  </div>
</div>
