main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Fundo branco para destacar o conteúdo */
  border-radius: 15px; /* Bordas mais arredondadas para um toque moderno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra para profundidade */
}

h2,
h3 {
  color: #333;
}

h2 {
  font-size: 24px; /* Aumenta o tamanho da fonte para um título mais marcante */
  margin-bottom: 20px; /* Espaço adicional para separar o título do formulário */
  text-align: center; /* Centraliza o título */
}

form {
  background-color: #f9f9f9;
  border: 2px solid #ddd; /* Borda mais espessa para definição */
  border-radius: 10px; /* Bordas mais arredondadas */
  padding: 20px;
  margin-bottom: 30px;
}

.containerInput {
  margin-bottom: 20px;
  position: relative;
}

.containerError {
  position: absolute;
  width: 70%;
  display: flex;
  justify-content: left;
  padding-left: 2%;
}

.error {
  color: red;
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
  margin-top: -8px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-bottom: 14px;
  background-color: #fafafa; /* Cor de fundo mais suave */
  transition: border-color 0.3s ease; /* Transição suave na mudança de borda */
  margin-bottom: 10px;
}

.input:focus {
  border-color: #4caf50; /* Borda verde ao focar */
  outline: none;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  width: 100%; /* Botão ocupa toda a largura do formulário */
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
  max-height: 15vh;
  overflow-y: auto;
}

li {
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px; /* Bordas arredondadas */
  border: 1px solid #ddd;
  transition: background-color 0.3s ease; /* Transição suave no hover */
}

li:hover {
  background-color: #e9e9e9; /* Cor de fundo ao passar o mouse */
}

img {
  width: 20px;
  height: 20px;
  cursor: pointer; /* Cursor de mão para indicar que é clicável */
}
