<div class="balance-login-container">
  <h2 class="balance-title">Login</h2>
  <div class="balance-form-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="balance-form">
      <div class="balance-input-container">
        <input
          class="balance-input"
          formControlName="email"
          placeholder="Insira seu e-mail"
          type="email"
          required
        />
      </div>
      <div class="balance-input-container">
        <div class="password-input-wrapper">
          <input
            class="balance-input"
            [type]="passwordFieldType"
            formControlName="password"
            placeholder="Insira sua senha"
            required
          />
          <button
            type="button"
            class="toggle-password"
            (click)="togglePasswordVisibility()"
          >
            {{ passwordFieldType === "password" ? "Mostrar" : "Ocultar" }}
          </button>
        </div>
        <div *ngIf="errorMessage" class="balance-error-container">
          <p class="balance-error">{{ errorMessage }}</p>
        </div>
      </div>
      <button type="submit" class="balance-button">Entrar</button>
    </form>
  </div>
</div>
